.formContainer {
  position: relative;
  background: #0d1323;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;

  .timer {
    height: 60vh;

    .timer-info {
      color: white;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      display: flex;
      padding-bottom: 10px;

      img {
        width: 80px;
      }
    }

    .formWrapper {
      align-items: center;
      background-color: rgb(102, 51, 255);
      display: flex;
      flex-direction: column;
      border-radius: 30px;
      border: 1px solid #000000;
      padding: 20px 60px;
      gap: 10px;

      .logo {
        font-size: 37px;
        font-weight: bold;
        color: white;
      }

      .title {
        font-size: 15px;
        color: white;
        padding-bottom: 10px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        input {
          padding: 15px;
          border: none;
          width: 250px;
          border-bottom: 1px solid #22273a;
          border-radius: 15px;
          outline: none;
        }

        button {
          border: none;
          cursor: pointer;
          font-weight: 700;
          padding: 10px;
          border-radius: 15px;
          transition: background-color 0.3s ease-in-out;

          &:hover {
            background-color: rgba(255, 255, 255, 0.744);
            // background-color: #303953;
            opacity: 0.8;
          }
        }

        p {
          text-align: center;
          font-size: 17px;

          &:hover {
            opacity: 0.7;
          }

          a {
            &:visited {
              color: white;
            }
          }
        }
      }
    }
  }
}
